.first-image {
    background-image: url(../images/Hearing.png);
    /* Replace 'background-image.jpg' with the actual image file path */
    background-size: cover;
    /* You can adjust the background size as needed */
    background-repeat: no-repeat;
    /* Prevent the background from repeating */
    /* Add other background properties as needed */
    background-position: center;
}